body {
  margin: 50px 140px;
  font-family: "Inter", sans-serif;
  font-family: "Merriweather", serif;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Header section */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header-image {
  width: 1320px;
  height: 600px;
  border-radius: 16px;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
}
.header-text {
  position: absolute;
}
.sub-heading {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 400;
}
.heading-title {
  color: #fff;
  text-align: center;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
  font-family: Merriweather;
  width: 630px;
}
/* Offer section */
.offer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
}
.offer {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
  margin-bottom: 50px;
}
.offer-sub {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}
.offer-title {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
}
/* Midnight Party section */
.party-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
}
.party-image {
  width: 1320px;
  height: 600px;
}
.party-text {
  display: flex;
  position: absolute;
  width: 1320px;
  height: 600px;
}
.midnight-text {
  padding: 70px 125px;
}
.party-image {
  padding: 70px 120px;
}
.party-title {
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
  letter-spacing: 7.04px;
  width: 600px;
  margin-bottom: 25px;
}
.party-description {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 50px;
}
.join {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}
.year-image {
  width: 320px;
  height: 450px;
  padding: 70px 120px;
}
/* Schedule section */
.schedule-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  width: 1320px;
  height: 600px;
  border-radius: 16px;
}
.schedule-title {
  color: #f00;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  text-transform: capitalize;
}
.schedule-text {
  color: #070211;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
}
.join-now {
  padding: 16px 32px;
  border-radius: 8px;
  background: #f00;
  border: none;
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
/* up coming section */
.up-coming {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 80px;
  width: 1320px;
  height: 600px;
}
.coming-sub {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  line-height: normal;
}
.coming-title {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
}
.coming-description {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}
.coming-year {
  color: #f00;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
}
.coming-image {
  border: 20px solid #f00;
  padding: 30px;
  border-radius: 50%;
}
/* Holiday section */
.holiday-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
  width: 1320px;
}
.holy-description {
  color: #070211;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.holy-title {
  color: #070211;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  margin: 10px;
}
.holiday-images {
  position: relative;
  width: 1320px;
  height: 600px;
  margin-top: 100px;
}
.holy1 {
  position: absolute;
  right: 0;
  bottom: 229px;
}
.holy2 {
  position: absolute;
  bottom: 0px;
  left: 0;
}
.holy3 {
  position: absolute;
  bottom: 80px;
  left: 50px;
  top: 0;
  width: 700px;
}
.holy4 {
  position: absolute;
  right: 340px;
}

/* gift section */
.gift-section {
  width: 1320px;
  margin-top: 150px;
}
.gift-sub {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.gift-title {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
}
.gift-description {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
  width: 896px;
  margin-bottom: 50px;
}
.image-container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.portfolio-items {
  box-shadow: 24px 24px 10px lightgray;
  border-radius: 16px;
}
/* subscribe section */
.subscribe-section {
  width: 1120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  padding: 80px;
}
.mail-image {
  width: 150px;
  height: 150px;
}
.subscribe-title {
  color: #070211;
  text-align: center;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
}
.subscribe-description {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  width: 896px;
}
.subscribe-search {
  display: inline;
}
.left {
  width: 648px;
  height: 72px;
  border-radius: 50px 0 0 50px;
  background: #fff;
  margin: 0;
  border: 0;
  padding: 0 30px;
}
.right {
  width: 210px;
  height: 72px;
  border-radius: 0px 50px 50px 0px;
  background: #f00;
  margin: 0;
  border: 0;
  color: white;
  font-weight: bold;
}
/* footer section */

.footer-section {
  width: 1600px;
  height: 600px;
  padding: 120px 140px;
  background: #070211;
  color: white;
  margin-top: 150px;
}
.footer-section > hr {
  height: 1px;
  color: #ffffff;
  background: white;
  margin: 0 140px;
}
.footer-text {
  display: flex;
  justify-content: space-around;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
}
.footer-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-icons > img {
  padding: 50px 10px;
}
